<div class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <div class="navbar-brand">UNSW-NB15 Computer Security Dataset</div>
            <span class="text-white">Analysis through Visualization</span>
        </div>
        <div class="col col-4">
            <ul class="navbar-nav me-auto mb-2 d-flex flex-row justify-content-evenly">
                <li class="nav-item">
                    <a class="nav-link" href="/">About the Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/explore">Explore techniques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/compare">Comparative Analysis</a>
                </li>
            </ul>
        </div>
    </div>
</div>
